body {
    font-family: 'Outfit', sans-serif;
}

.aboutUs-content {
    display: flex;
    flex-direction: row;
    background-color: rgb(233, 239, 243);
    height: 700px;
}  

.column {
    flex: 1;
    margin: 10px;
    margin-top: 50px;
    padding: 20px;
    background-color: rgb(210, 219, 223);
    text-align: center;
    font-size: 16px;
    height: 70%;
    line-height: 1.3;
    padding-bottom: 70px;
}

.meet-the-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(68, 77, 93);
    height: 600px;
}

.meet-the-team h2 {
    font-size: 30px;
    color: white;
    font-family: 'Outfit', sans-serif;
    margin-bottom: 50px;

}

.circle-image {
    width: 200px; /* Set the width of the image */
    height: 200px; /* Set the height of the image */
    border-radius: 50%; /* Make the image a circle */
    object-fit: cover; /* Ensure the image covers the entire area */
}

.meet-the-team {
    padding: 30px;
}

.team-photos {
    display: flex;
    gap: 60px;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 0;
}

.member h3 {
    padding-top: 20px;
    font-size: 30px;
    color: white;
    font-family: 'Outfit', sans-serif;
    margin-top: 10px;
}

.member h4 {
    font-size: 15px;
    color: rgb(155, 156, 171);
    font-family: 'Outfit', sans-serif;
}