.pollutionContent {
    display: flex;
    justify-content: space-between;
    height: 700px;
}

.left-panel {
    width: 100%;
}

.right-panel {
    width: 100%;
}

ul li{
    list-style-type: circle;
}

.description {
    margin-top: 20px;
    margin-left: 20px;
    color:#2c3e50;
    width: 650px;
}

.images img {
    margin-top: 50px;
    border-radius: 10px;
    width: 95%;
    height: 560px;
}

body{
    background-color: #b0c4e9;
}

.radio-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left:25px;
}

.radio-buttons input[type="radio"] {
    display: none;
}

.radio-buttons label {
    background-color: #2c3e50;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.radio-buttons input[type="radio"]:checked + label {
    background-color: rgb(255, 255, 255);
    color: #2c3e50
}

@media (max-width: 1375px){
    .left-panel{
        width: 90%;
    }
    .description {
        width: 500px;
    }
}

@media(max-width: 1200px){
    .left-panel{
        width: 80%;
    }
    .description {
        width: 400px;
    }
}

@media(max-width: 1100px){
    .left-panel{
        width: 70%;
    }
    .description {
        width: 350px;
    }

    .radio-buttons label {
        padding: 5px 10px;
    }
}

@media(max-width: 950px){
    .radio-buttons label {
        padding: 10px 20px;
    }

    .description {
        margin-top: 20px;
        margin-left: 20px;
        color:#2c3e50;
        width: 95%;
    }

    .pollutionContent {
        display: inline-block;
        justify-content: space-between;
    }

    .left-panel{
        width: 90%;
    }

    .images{
        box-sizing: border-box;
        padding-left: 20px;
        padding-bottom: 20px;
    }
}

@media(max-width:450px){
    .images img{
        height: 400px;
    }
}